Flask==2.0.2
Flask-Bcrypt==1.0.1
Flask-Cors==4.0.0
Flask-Login==0.6.3
Flask-OAuthlib==0.9.6
Flask-PyMongo==2.3.0
google-generativeai==0.3.2
itsdangerous==2.1.2
pymongo==4.6.2
requests==2.31.0
